body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Helvetica";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
    padding: 6mm 10mm;
    font: "Helvetica";
    color: white;
    background: #1b262c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header img {
    height: 30mm;
    object-fit: cover;
    border-radius: 50%;
    border: 2pt white solid;
}

.header h1 {
    margin: 0mm;
    margin-top: 5mm;
    font: 32pt "Helvetica";
    text-transform: uppercase;
}

.header h2 {
    margin: 0mm;
    text-align: right;
    font: 16pt "Helvetica";
    text-transform: uppercase;
}

.coreskills {
    margin: 2mm 5mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.coreskills div {
    padding: 0mm 2mm;
    margin: 0mm 1mm;
    width: 40mm;
}

.coreskills h1 {
    font-size: 11pt;
    text-align: center;
}

.coreskills h2 {
    position: relative;
    font-size: 9pt;
    margin: 3pt 0pt;
}

#js {
    width: 18mm;
}

#problemsolving {
    width: 17mm;
}

#design {
    width: 18mm;
}

#profile {
    padding: 20px;
    text-align: justify;
    margin: 0px 12px;
    font: 12pt;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
}

.strike>span {
    position: relative;
    display: inline-block;
    font-size: 10pt;
    text-transform: uppercase;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

.experience {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.time {
    width: 50mm;
    border-right: black 1pt solid;
}

.company {
    padding: 2mm 5mm;
    margin-left: 10px;
}

.company p {
    font-size: 10pt;
    margin: 4pt 0pt;
}

.company h1 {
    font-size: 18pt;
    margin: 3pt 0px;
}

.company h2::before {
    text-align: right;
    position: absolute;
    min-width: 60px;
    min-height: 20px;
    left: -110px;
    top: 0px;
    background-color: white;
}

.company h2 {
    position: relative;
    font-size: 12pt;
    margin: 6pt 0px;
}

.company h2::after {
    content: '';
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    left: -44px;
    background-color: white;
    border: 4px solid black;
    top: -5px;
    border-radius: 50%;
    z-index: 1;
}

.company h3 {
    position: relative;
    font-size: 0pt;
    margin: 0pt 0px;
}

.company h3::after {
    content: '';
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    left: -44px;
    background-color: white;
    border: 4px solid black;
    top: -25px;
    border-radius: 50%;
    z-index: 1;
}

.company h3::before {
    text-align: right;
    position: absolute;
    min-width: 60px;
    min-height: 20px;
    left: -110px;
    top: -20px;
    font-size: 12pt;
    background-color: white;
}

#present::before {
    content: 'Present';
}

#y2017::before {
    content: '2017';
}

#y2015::before {
    content: '2015';
}

#y2013::before {
    content: '2013';
}

.skills {
    margin: 0mm 5mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.skills div {
    margin: 0pt;
    border-right: 1px black solid;
    text-align: left;
    padding: 10px;
    width: 40mm;
}

.skills p {
    font-size: 8pt;
    margin: 5px 0px;
}

.skills h1 {
    font-size: 12pt;
    margin: 5px 0px;
}

.skill {
    text-align: center;
}

.skill img {
    object-fit: cover;
    object-position: 0 100%;
    width: 16mm;
    height: 18mm;
    margin-bottom: 2mm;
}

#like {
    border-right: 0px;
}

.footer {
    margin-top: 3mm;
    padding: 5mm;
    padding-bottom: 5mm;
    font: "Helvetica";
    color: white;
    background: #0f4c75;
}

.contactme {
    margin: 0mm 2mm;
    padding-top: 0.5mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contactme img {
    height: 16px;
    vertical-align: top;
}

#legal {
    padding: 2mm;
    padding-bottom: 0mm;
    font-size: 6pt;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}