body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 10pt "Helvetica";
}

.containter {
    min-height: max-content;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    position: relative;
    width: 210mm;
    height: 297mm;
    max-height: 297mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
    padding: 12mm 12mm;
    padding-bottom: 8mm;
    font: "Helvetica";
    color: white;
    background: #1b262c;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.contactme {
    color: white;
    background: #2d4450;
    padding: 2mm 12mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 10pt;
}

.contactme a {
    color: white;
    text-decoration: none;
}

.header img {
    height: 30mm;
    object-fit: cover;
    border-radius: 50%;
    border: 2pt white solid;
}

.header h1 {
    margin: 0mm;
    text-align: center;
    font: 26pt "Helvetica";
    text-transform: uppercase;
}

.header h2 {
    margin: 0mm;
    text-align: center;
    font: 14pt "Helvetica";
    text-transform: uppercase;
}

.coreskills {
    margin: 2mm 12mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#js {
    width: 18mm;
}

#problemsolving {
    width: 17mm;
}

#design {
    width: 18mm;
}

#profile {
    padding: 20px;
    text-align: justify;
    margin: 0px 12px;
    font: 12pt;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
}

.strike>span {
    position: relative;
    display: inline-block;
    font-size: 10pt;
    text-transform: uppercase;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

.experience {
    margin: 2mm 12mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.experience h2 {
    margin: 0px;
    font-size: 12pt;
}

.experience h3 {
    margin: 0px;
    font-size: 10pt;
}

.skills {
    margin: 0mm 5mm;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.skills div {
    margin: 0pt;
    border-right: 1px black solid;
    text-align: left;
    padding: 10px;
    width: 40mm;
}

.skills p {
    font-size: 8pt;
    margin: 5px 0px;
}

.skills h1 {
    font-size: 12pt;
    margin: 5px 0px;
}

.skill {
    text-align: center;
}

.skill img {
    object-fit: cover;
    object-position: 0 100%;
    width: 16mm;
    height: 18mm;
    margin-bottom: 2mm;
}

#like {
    border-right: 0px;
}

.contactme img {
    height: 16px;
    vertical-align: top;
}

.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    align-items: center;
    bottom: 0;
    padding: 2mm;
    margin-bottom:0px;
    color: white;
    background: #0f4c75;
}

#legal {
    padding: 2mm;
    font-size: 8pt;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}